html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: radial-gradient(120% 120% at 50% 12%, #655353 0%, #263955 22%, #000000 100%);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.shuggiLogo{
  background: black;
}